@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 6.5rem;
  }

  html {
    @apply scroll-smooth;
  }

  html,
  body {
    @apply max-w-[100vw] overflow-x-hidden bg-blueish-grey-900 text-neutral-100 antialiased;
  }
}

@layer utilities {
  .grid-games {
    --grid-layout-gap: 30px;
    --grid-column-count: 4;
    --grid-item--min-width: 220px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc(
      (100% - var(--total-gap-width)) / var(--grid-column-count)
    );

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
    );
    grid-gap: var(--grid-layout-gap);
  }

  @media screen(sm) {
    .grid-games {
      --grid-layout-gap: 50px;
    }
  }

  .mobile-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: @apply bg-blueish-grey-700 border-blueish-grey-800;
  }

  .mobile-scrollbar::-webkit-scrollbar {
    @apply w-[14px];
  }

  .mobile-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg border-2 border-solid border-blueish-grey-800 bg-blueish-grey-700;
  }

  .mobile-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-blueish-grey-500/60;
  }

  .mobile-scrollbar::-webkit-scrollbar-track {
    @apply bg-blueish-grey-800;
  }
}
