@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 6.5rem;
  }

  html {
    @apply scroll-smooth bg-blueish-grey-900 leading-relaxed text-neutral-100 antialiased;
  }

  html,
  body {
    @apply max-w-[100vw] overflow-x-hidden;
  }
}

@layer utilities {
  .page-heading-1 {
    @apply mb-12 text-center text-2xl font-medium uppercase tracking-[0.2em] text-neutral-100 lg:mb-16 lg:text-3xl;
  }

  .grid-games {
    --grid-layout-gap: 30px;
    --grid-column-count: 4;
    --grid-item--min-width: 220px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc(
      (100% - var(--total-gap-width)) / var(--grid-column-count)
    );

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
    );
    grid-gap: var(--grid-layout-gap);
  }

  @media screen(sm) {
    .grid-games {
      --grid-layout-gap: 50px;
    }
  }

  .slim-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: @apply bg-blueish-grey-600 border-blueish-grey-800;
  }

  .slim-scrollbar::-webkit-scrollbar {
    @apply w-[14px];
  }

  .slim-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg border-2 border-solid border-blueish-grey-800 bg-blueish-grey-600;
  }

  .slim-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-blueish-grey-500/60;
  }

  .slim-scrollbar::-webkit-scrollbar-track {
    @apply bg-blueish-grey-800;
  }

  .background-grid {
    background-size: 30px 30px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
    mask-image: linear-gradient(to bottom, transparent, black, transparent);
  }
}
